// Mobile

%buttons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

// %hero-title {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 800;
//     font-size: 20px;
//     line-height: 130%;    
//     letter-spacing: 0.03em;
// }

// %hero-secondary-text {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 157%;
//     letter-spacing: 0.08em;
// }

// %main-text {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 157%;
//     letter-spacing: 0.08em;
// }

// %secondary-text {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 167%;    
//     letter-spacing: 0.08em;
// }

// %section-title {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 800;
//     font-size: 24px;
//     line-height: 130%;    
//     letter-spacing: 0.03em;
// }

// %secondary-titles {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 12px;
//     line-height: 164.9%;
//     letter-spacing: 0.08em;
// }

