:root {
  --main-text: #111518;
  --second-text: #b9b9b9;
  --accent-color: #ff6b09;
  --white: #ffffff;
  --problems-icon: #3d3d3d;
  --guarantee-bg: #f1f1f1;
  --vk-fill: #436eab;
  --gap: 30px;
  --item-amount: 1;
}
