:root {
    --main-text: #111518;
    --second-text: #B9B9B9;
    --accent-color: #FF6B09;
    --white: #ffffff;
    --problems-icon: #3D3D3D;
    --guarantee-bg: #F1F1F1;
    --vk-fill: #436EAB;
    --gap: 30px;
    --item-amount: 1;
    --mobile-menu-bg: rgb(17, 21, 24, 0.9)
}