<section class="section benefits">
    <div class="container">
        <h2 class="benefits__title">Why do people choose us</h2>
        <ul class="benefits__list">
            <li class="benefits__item">
                <p class="benefits__text"><span class="benefits__span">— 01</span>Training in small groups</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__text"><span class="benefits__span">— 02</span>Rendered notes</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__text"><span class="benefits__span">— 03</span>Each lesson has a goal and a specific result</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__text"><span class="benefits__span">— 04</span>The real results of the teacher</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__text"><span class="benefits__span">— 05</span>The course program meets the requirements of the MES of Ukraine</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__text"><span class="benefits__span">— 06</span>Set of groups by level of knowledge</p>
            </li>
        </ul>
    </div>
</section>

