<section class="section methodology-section">
  <div class="container methodology__container">
    <h2 class="methodology__title">How do we do it</h2>
    <ul class="methodology__list">
      <li class="methodology-list__item">
        <svg class="methodology-list__icon">
          <use href="./images/icons.svg#icon-noun_open-book_2671700-1"></use>
        </svg>
        <p class="methodology-list__title">Adapted program preparation for UPE</p>
        <p class="methodology-list__discription">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>
      <li class="methodology-list__item">
        <svg class="methodology-list__icon">
          <use href="./images/icons.svg#icon-noun_Mobile-Learning_2671727-1"></use>
        </svg>
        <p class="methodology-list__title">Classroom and online learning</p>
        <p class="methodology-list__discription">
          The teacher will help not only in the classroom, but also during home preparation.Parents
          can chat if they wish.
        </p>
      </li>
      <li class="methodology-list__item">
        <svg class="methodology-list__icon">
          <use href="./images/icons.svg#icon-noun_open-book_2671700-1"></use>
        </svg>
        <p class="methodology-list__title">The habit of reading in English</p>
        <p class="methodology-list__discription">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>
      <li class="methodology-list__item">
        <svg class="methodology-list__icon">
          <use href="./images/icons.svg#icon-Group"></use>
        </svg>
        <p class="methodology-list__title">Psychological support</p>
        <p class="methodology-list__discription">
          We will teach you testing techniques, the ability to plan your confidence training in
          itself.
        </p>
      </li>
      <li class="methodology-list__item">
        <svg class="methodology-list__icon">
          <use href="./images/icons.svg#icon-noun_Female-Student_2575636-1"></use>
        </svg>
        <p class="methodology-list__title">Training on copyright manuals</p>
        <p class="methodology-list__discription">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have compiled 2 manuals for you.
        </p>
      </li>
      <li class="methodology-list__item">
        <svg class="methodology-list__icon">
          <use href="./images/icons.svg#icon-noun_Audio-Book_2473332-1"></use>
        </svg>
        <p class="methodology-list__title">Ability to comprehend spoken English</p>
        <p class="methodology-list__discription">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
          accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
