<button
  class="mobile-menu__open-menu js-open-menu"
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <svg class="mobile-menu__menu-icon" stroke="#000000" width="20.5px" height="12px">
    <use href="./images/icons.svg#icon-menu"></use>
  </svg>
</button>

<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button class="mobile-menu__close-menu js-close-menu">
    <svg class="mobile-menu__menu-icon" stroke="#ffffff" width="20.5px" height="12px">
      <use href="./images/icons.svg#icon-Group-56"></use>
    </svg>
  </button>

  <ul class="mobile-menu__links">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Studying program</a>
    </li>

    <li class="mobile-menu__item">
      <a href="./index.html" class="mobile-menu__link--current">About</a>
    </li>

    <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Training options</a></li>

    <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Contacts</a></li>
  </ul>

  <a href="tel:380961111111" class="button mobile-menu__button">Consultation by phone</a>
</div>
