    <section class="section pre-footer">
        <div class="container">

            <a href="#" class="pre-footer__logo">
                <svg class="pre-footer__icon" width="80px" height="29.14px">
                    <use href="../images/icons.svg#icon-logo-black"></use>
                </svg>
            </a>
            
            <a href="tel:+38 (000) 000 00 00" class="pre-footer__tel">
                <svg class="pre-footer__tel-icon  width="20px" height="19.21px">
                    <use href="../images/icons.svg#icon-Group-1"></use>
                </svg>
                +38 (000) 000 00 00
            </a>

            <a href="#" class="pre-footer__inst">
                <!-- иконка инстаграмма через бекграунд картинкy -->
            </a>
        </div>
    </section>
