    <section class="section pre-footer">
        <div class="container">
            <!-- скопировать с хедера -->
            <a href="tel:+38 (000) 000 00 00" class="pre-footer__tel">
                <svg class="pre-footer__icon">
                    <use href="./images/icons.svg#icon-smartphone"> </use>
                </svg>
                +38 (000) 000 00 00
            </a>
            <a href="#" class="pre-footer__inst"></a>
            <!-- иконка инстаграмма через бекграунд картинка -->
        </div>
    </section>
