<section class="section program-section">
  <div class="container">
    <h2 class="program-title">Our program</h2>
    <ul class="program-list">
      <li class="program-list__item">
        1 semester
        <ul class="program-description__list">
          <li class="program-description__item">
            — Grammar
            <ul class="description-list">
              <li class="description-list__item">Nouns & Articles</li>
              <li class="description-list__item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program-description__item">
            — Vocabulary
            <ul class="description-list">
              <li class="description-list__item">Family & Relations</li>
              <li class="description-list__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        2 semester
        <ul class="program-description__list">
          <li class="program-description__item">
            — Grammar
            <ul class="description-list">
              <li class="description-list__item">Pronouns</li>
              <li class="description-list__item">Active Voice</li>
              <li class="description-list__item">Passive Voice</li>
            </ul>
          </li>
          <li class="program-description__item">
            — Vocabulary
            <ul class="description-list">
              <li class="description-list__item">Home</li>
              <li class="description-list__item">School</li>
              <li class="description-list__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        3 semester
        <ul class="program-description__list">
          <li class="program-description__item">
            — Grammar
            <ul class="description-list">
              <li class="description-list__item">Modal verbs</li>
              <li class="description-list__item">Infinitive</li>
              <li class="description-list__item">Gerund</li>
              <li class="description-list__item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program-description__item">
            — Vocabulary
            <ul class="description-list">
              <li class="description-list__item">Travel & Tourism</li>
              <li class="description-list__item">Culture & Free Time</li>
              <li class="description-list__item">Sport</li>
            </ul>
          </li>
          <li class="program-description__item">
            — Writing
            <ul class="description-list">
              <li class="description-list__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        4 semester
        <ul class="program-description__list">
          <li class="program-description__item">
            — Grammar
            <ul class="description-list">
              <li class="description-list__item">Clauses: Conditional and Wishes</li>
              <li class="description-list__item">Direct / Reported speech</li>
              <li class="description-list__item">Preposition</li>
              <li class="description-list__item">Conjunction</li>
              <li class="description-list__item">Numeral</li>
            </ul>
          </li>
          <li class="program-description__item">
            — Vocabulary
            <ul class="description-list">
              <li class="description-list__item">Healthy Living</li>
              <li class="description-list__item">Nature & Environment</li>
              <li class="description-list__item">Money</li>
            </ul>
          </li>
          <li class="program-description__item">
            — Writing
            <ul class="description-list">
              <li class="description-list__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        5 semester
        <ul class="program-description__list">
          <li class="program-description__item">
            —
            <ul class="description-list">
              <li class="description-list__item">Revision</li>
              <li class="description-list__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
