<section class="section program__section">
  <div class="container program__container">
    <h2 class="program__title">Our program</h2>

    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__subtitle">1 semester</h3>

        <ul class="program__description-list description-list">
          <li class="description-list__item">
            <p class="program__paragraph">— Grammar</p>

            <ul class="description-list__point-list">
              <li class="description-list__item">Nouns & Articles</li>
              <li class="description-list__item">Adjectives & Adverb</li>
            </ul>
          </li>

          <li class="program__description-item">
            — Vocabulary
            <ul class="description-list">
              <li class="description-list__item">Family & Relations</li>
              <li class="description-list__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__subtitle">2 semester</h3>

        <ul class="program__description--list">
          <li class="program__description--item">
            <h4 class="program__paragraph">— Grammar</h4>

            <ul class="description__list">
              <li class="description__item">Pronouns</li>
              <li class="description__item">Active Voice</li>
              <li class="description__item">Passive Voice</li>
            </ul>
          </li>
          <li class="program__description--item">
            <h4 class="program__paragraph">— Vocabulary</h4>

            <ul class="description__list">
              <li class="description__item">Home</li>
              <li class="description__item">School</li>
              <li class="description__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__subtitle">3 semester</h3>

        <ul class="program__description--list">
          <li class="program__description--item">
            <h4 class="program__paragraph">— Grammar</h4>

            <ul class="description__list">
              <li class="description__item">Modal verbs</li>
              <li class="description__item">Infinitive</li>
              <li class="description__item">Gerund</li>
              <li class="description__item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__description--item">
            <h4 class="program__paragraph">— Vocabulary</h4>

            <ul class="description__list">
              <li class="description__item">Travel & Tourism</li>
              <li class="description__item">Culture & Free Time</li>
              <li class="description__item">Sport</li>
            </ul>
          </li>
          <li class="program__description--item">
            <h4 class="program__paragraph">— Writing</h4>

            <ul class="description__list">
              <li class="description__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__subtitle">4 semester</h3>

        <ul class="program__description--list">
          <li class="program__description--item">
            <h4 class="program__paragraph">— Grammar</h4>

            <ul class="description__list">
              <li class="description__item">Clauses: Conditional and Wishes</li>
              <li class="description__item">Direct / Reported speech</li>
              <li class="description__item">Preposition</li>
              <li class="description__item">Conjunction</li>
              <li class="description__item">Numeral</li>
            </ul>
          </li>
          <li class="program__description--item">
            <h4 class="program__paragraph">— Vocabulary</h4>

            <ul class="description__list">
              <li class="description__item">Healthy Living</li>
              <li class="description__item">Nature & Environment</li>
              <li class="description__item">Money</li>
            </ul>
          </li>
          <li class="program__description--item">
            <h4 class="program__paragraph">— Writing</h4>

            <ul class="description__list">
              <li class="description__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__subtitle">5 semester</h3>

        <ul class="program__description--list">
          <li class="program__description--item">
            <h4 class="program__paragraph">—</h4>

            <ul class="description__list">
              <li class="description__item">Revision</li>
              <li class="description__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
