.about {
  padding-bottom: 0;

  &__title {
    @include font(800, 20px, 130%, 0.03em);
    color: var(--main-text);
    margin-bottom: 20px;
  }

  @media screen and(min-width: 768px) {
    &__title {
      font-size: 26px;
    }
  }

  &__image {
    display: block;
    margin-bottom: 20px;
  }

  @media screen and(min-width: 768px) {
    &__image {
      position: absolute;
    }
  }
  
  @media screen and (min-width: 768px) {
    &__wrapper {
      position: relative;
      left: 290px;
      width: 400px;
    }
  }

  &__subtitle {
    @include font(800, 20px, 24px, 0.08em);
    color: var(--main-text);
    margin-bottom: 10px;
  }

  &__list {
    border-top: 1px solid var(--second-text);
    margin-bottom: 30px;
  }

  &__item {
    @include font(600, 14px, 17px, 0.06em);
    color: var(--main-text);
    margin-top: 20px;
    position: relative;
    padding-left: 25px;
  }

  @media screen and(min-width: 768px) {
    &__item {
      font-size: 12px;
    }
  }

  &__icon {
    position: absolute;
    width: 17px;
    height: 14px;
    left: 0px;
    top: 2px;
  }

  &__desc {
    @include font(500, 12px, 20px);
    color: var(--second-text);
  }

  @media screen and(min-width: 768px) {
    &__desc {
      font-size: 10px;
    }
  }

  &__desc:first-of-type::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 15px;
    background-color: var(--accent-color);
  }

  &__link {
    @include font(500, 12px, 20px);
    color: var(--accent-color);
    text-decoration: underline;

    display: block;
    margin-top: 10px;
  }
}
