.about {
  padding-bottom: 0;

  &__title {
    @include font(800, 20px, 130%, 0.03em);
    color: var(--main-text);
    margin-bottom: 20px;
  }

  &__image {
    display: block;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include font(800, 20px, 24px, 0.08em);
    color: var(--main-text);
    margin-bottom: 10px;
  }

  &__list {
    border-top: 1px solid var(--second-text);
    margin-bottom: 30px;
  }

  &__item {
    @include font(600, 14px, 17px, 0.06em);
    color: var(--main-text);
    margin-top: 20px;
    position: relative;
    padding-left: 25px;
  }

  &__icon {
    position: absolute;
    width: 17px;
    height: 14px;
    left: 0px;
    top: 2px;
  }

  &__desc {
    @include font(500, 12px, 20px);
    color: var(--second-text);
  }

  &__desc:first-of-type::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 15px;
    background-color: var(--accent-color);
  }

  &__p-link {
    margin-top: 10px;
  }

  &__link {
    @include font(500, 12px, 20px);
    color: var(--accent-color);
    text-decoration: underline;
  }
}

@media screen and(min-width: 768px) {
  .about__title {
    @include font(800, 26px, 130%, 0.03em);
  }

  .about__image {
    position: absolute;
  }

  .about__wrapper {
    position: relative;
    left: 290px;
    width: 400px;
  }

  .about__item {
    @include font(600, 12px, 15px, 0.06em);
  }

  .about__desc {
    @include font(500, 10px, 20px);
  }
}
