.advantages {
    padding: 6px 0 50px;
    margin: 0 52px;
    
    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__description {
        @include font(700, 14px, 164.9%, 0.08em);
        color: var(--main-text);
    }

    &__wrapper {
        border: 2px solid var(--accent-color);
        padding: 10px 13px;
        margin-right: 15px;
        position: relative;
    }

    &__span {
        display: block;
        background-color: var(--white);
        height: 46px;
        width: 2px;

        position: absolute;
        right: -2px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__icon {
        width: 35px;
        height: 40px;
    }
}