.benefits {
  padding-bottom: 0;
  background: linear-gradient(180deg, rgb(17, 21, 24) 70%, rgb(255, 255, 255) 30%);

  &__title {
    @include font(800, 20px, 136%, 0.03em);
    color: var(--white);
    margin-bottom: 30px;
  }

  &__list {
    background-color: var(--white);
    @extend %problems-shadow;
    padding: 20px 14px 20px 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 36px;
  }

  &__subtitle {
    @include font(700, 14px, 164.9%, 0.08em);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  &__text {
    @include font(700, 14px, 20px, 0.08em);
    color: var(--main-text);
  }
}

@media screen and(min-width: 768px) {
  .benefits {
    background: linear-gradient(180deg, rgb(17, 21, 24) 45%, rgb(255, 255, 255) 30%);

    &__title {
      @include font(800, 26px, 130%, 0.03em);
      color: var(--white);
      margin-bottom: 30px;
      text-align: center;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 35px 118px 40px 98px;
    }

    &__item {
      width: 236px;
    }

    &__item:not(:last-child) {
      margin-bottom: 38px;
    }

    &__subtitle {
      margin-bottom: 18px;
    }
  }
}
