.guarantee {
  @media screen and(min-width: 768px) {
    padding: 50px 40px;
  }

  &__title {
    @include font(800, 26px, 130%, 0.03em);
    text-align: center;
    color: var(--main-text);

    margin-bottom: 30px;
  }

  &__container {
    background-color: var(--guarantee-bg);

    @media screen and(min-width: 768px) {
      max-width: 688px;
      padding: 30px 50px 30px 100px;
    }
  }

  &__list {
    padding: 50px 20px 50px 35px;

    @media screen and(min-width: 768px) {
      padding: 0;
    }
  }

  &__item {
    display: block;
    // margin-bottom: 23px;
    position: relative;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__icon {
    width: 15px;
    height: 20px;
    position: absolute;
    left: -35px;
    top: 0;
  }

  &__text {
    @include font(500, 12px, 167%);
    color: var(--problems-icon);
  }

  &__accent {
    color: var(--accent-color);
  }

  &__left-border {
    display: block;
    height: 48px;
    width: 0;
    border-left: 1px dashed var(--second-text);

    position: absolute;
    top: 50%;
    left: -29px;
  }
}
