.hero {
    padding: 50px 0 73px;
    background-image: url("../images/background-icons/hero-wave.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -26px left -64px;

    @media screen and (min-width:768px) {
        background-position: bottom -10px left -64px;

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        @include font(800, 20px, 130%, 0.03em);
        color: var(--main-text);

        @media screen and (min-width:768px) {
            font-size: 26px;
        }
    }
    
    &__text {
        margin-top: 8px;
        @include font(700, 14px, 157%, 0.08em);
        color: var(--main-text);

        &--secondary {
            font-weight: 500;
            color: var(--second-text);
        }

        &--accent {
            color: var(--accent-color);
        }
    }

    &__button {
        margin: 52px auto 0;

        @media screen and (min-width:768px) {
            margin-left: 42px;
        }
    }

    &__image {
        display: block;
        margin: 55px auto 0;

        @media screen and (min-width:768px) {
            margin: 0;
        }
    }
}